<h3>Details about {{petToShow.name}}</h3><button (click)="closePetDisplay()">Home</button> 

<app-pedit *ngIf="petToEdit" 
    [petToEdit]="petToEdit" 
    (aPetEditEmitter)="petCreateFromChild($event)"  
    (aPetCancelEditEmitter)="petCancelEditFromChild($event)" >
</app-pedit> 

<br>
Pet Type: {{petToShow.type}} <br>
Description: {{petToShow.description}} <br>
Skills: <br>
<span class="lpad">{{petToShow.skill1}} </span><br>
<span class="lpad">{{petToShow.skill2}} </span><br>
<span class="lpad">{{petToShow.skill3}} </span><br>
Likes: {{petToShow.likes}} <br>

<button (click)="Like()">Like this Pet</button> 
<button (click)="Delete()">Adopt this Pet</button> 

