<div *ngIf="petToShow">

    <nav class="ib">
        <a class="ib" routerLink="/pets">Home</a>
    </nav>

    <br>
    <table id="pets">
        <tr>
            <th>
                Details about {{petToShow.name}}
            </th>
        </tr>
        <tr>
            <td>Pet Type: </td>
            <td>{{petToShow.type}} </td>
        </tr>
        <tr>
            <td>Description: </td>
            <td>{{petToShow.description}} </td>
        </tr>
        <tr>
            <td>Skill: </td>
            <td>{{petToShow.skill1}} </td>
        </tr>
        <tr>
            <td>Skill: </td>
            <td>{{petToShow.skill2}} </td>
        </tr>
        <tr>
            <td>Skill: </td>
            <td>{{petToShow.skill3}} </td>
        </tr>
        <tr>
            <td>Likes: </td>
            <td>{{petToShow.likes}} </td>
        </tr>
    </table>

    <button (click)="triggerLike()">Like this Pet</button>
    <button (click)="triggerDelete()">Adopt this Pet</button>

</div>