<div id="wrap">
        <h3>Edit this Pet</h3>
        <form (submit)="triggerPetUpdate()">
    
            <label for="petToEdit.name">Name</label>
            <input type="text" name="petToEdit.name" [(ngModel)]="petToEdit.name" />
    
            <br>
    
            <label for="petToEdit.name">Type</label>
            <input type="text" name="petToEdit.type" [(ngModel)]="petToEdit.type" />
    
            <br>
    
            <label for="petToEdit.description">Description</label>
            <input type="text" name="petToEdit.description" [(ngModel)]="petToEdit.description" />
    
            <br>
    
            <label for="petToEdit.skill1">Skill</label>
            <input type="text" name="petToEdit.skill1" [(ngModel)]="petToEdit.skill1" />
            <br>
            <label for="petToEdit.skill2">Skill</label>
            <input type="text" name="petToEdit.skill2" [(ngModel)]="petToEdit.skill2" />
            <br>
            <label for="petToEdit.skill3">Skill</label>
            <input type="text" name="petToEdit.skill3" [(ngModel)]="petToEdit.skill3" />
    
            <br>
    
    
            <input type="submit" value="Edit Pet" />
            <button (click)="cancelPetUpdate()">Cancel</button> 
    
            <br>
    
            <!-- <p> {{ petToEdit | json }} </p> -->
    
        </form>
    
    
    </div>