<ol>
    <li class="make-red" *ngFor="let e of errors">             
        {{ e }}
    </li>
</ol>

<h3>Edit this Pet</h3>
<form (ngSubmit)="triggerPetUpdate()" *ngIf="petToShow">

    <span class="col1" >Name</span>
    <input class="col2" type="text" name="petToShow.name" [(ngModel)]="petToShow.name" />

    <br>

    <label class="col1" for="petToShow.name">Type</label>
    <input class="col2" type="text" name="petToShow.type" [(ngModel)]="petToShow.type" />

    <br>

    <label class="col1" for="petToShow.description">Description</label>
    <input class="col2" type="text" name="petToShow.description" [(ngModel)]="petToShow.description" />

    <br>

    <label class="col1" for="petToShow.skill1">Skill</label>
    <input class="col2" type="text" name="petToShow.skill1" [(ngModel)]="petToShow.skill1" />
    <br>
    <label class="col1" for="petToShow.skill2">Skill</label>
    <input class="col2" type="text" name="petToShow.skill2" [(ngModel)]="petToShow.skill2" />
    <br>
    <label class="col1" for="petToShow.skill3">Skill</label>
    <input class="col2" type="text" name="petToShow.skill3" [(ngModel)]="petToShow.skill3" />

    <br>

    <button class="move-right" type="button" (click)="triggerPetUpdate()">Edit Pet</button> 
    <button type="button" (click)="cancelPetUpdate()">Cancel</button> 
    

</form>
