<div id="wrap">
    Add a review for {{thisMovie.title}}: <br>
    <form (submit)="triggerReviewCreate()">

        <label for="reviewToCreate.reviewer">Your Name:</label>
        <input type="text" name="reviewToCreate.reviewer" [(ngModel)]="reviewToCreate.reviewer" />

        <label for="reviewToCreate.rating">Stars:</label>
        <!-- <input type="text" name="review.rating" [(ngModel)]="review.rating" /> -->
        <select class="select" name="reviewToCreate.rating" [(ngModel)]="reviewToCreate.rating">
            <option selected="selected" value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select>

        <!-- <label for="review.review">Your Review:</label>
        <input type="text" name="review.review" [(ngModel)]="review.review" /> -->

        <label for="reviewToCreate.review">Your Review:</label>
        <textarea class="form-control" rows="5" name="reviewToCreate.review" [(ngModel)]="reviewToCreate.review" value=""></textarea>
       
        <input type="submit" value="Submit" />
        <button (click)="cancelReviewCreate()">Cancel</button> 

        <p> {{ review | json }} </p>

    </form>


    <label for="reviewer">Reviewer: (Test, FEV Only)</label>
    <input 
        type="text" 
        name="reviewer"
        required 
        minlength="3" 
        [(ngModel)]="tempReview.reviewer"
        #reviewer="ngModel"
    />
    <div class="make-red" *ngIf="reviewer.errors">Errors: {{ reviewer.errors | json }}</div>
    <div class="make-green" *ngIf="reviewer.valid">Valid: {{ reviewer.valid | json }}</div>

</div>



<router-outlet></router-outlet>
