<ol>
    <li class="make-red" *ngFor="let e of errors">             
        {{ e }}
    </li>
</ol>
        

<h3>Know of a pet needing a home?</h3>
<form>

    <label class="col1" for="petToCreate.name">Name</label>
    <input class="col2" type="text" name="petToCreate.name" [(ngModel)]="petToCreate.name" />

    <br>

    <label class="col1" for="petToCreate.type">Type</label>
    <input class="col2" type="text" name="petToCreate.type" [(ngModel)]="petToCreate.type" />

    <br>

    <label class="col1" for="petToCreate.description">Description</label>
    <input class="col2" type="text" name="petToCreate.description" [(ngModel)]="petToCreate.description" />

    <br>

    <label class="col1" for="petToCreate.skill1">Skill</label>
    <input class="col2" type="text" name="petToCreate.skill1" [(ngModel)]="petToCreate.skill1" />
    <br>
    <label class="col1" for="petToCreate.skill2">Skill</label>
    <input class="col2" type="text" name="petToCreate.skill2" [(ngModel)]="petToCreate.skill2" />
    <br>
    <label class="col1" for="petToCreate.skill3">Skill</label>
    <input class="col2" type="text" name="petToCreate.skill3" [(ngModel)]="petToCreate.skill3" />

    <br>

    <button class="move-right" type="button" (click)="triggerPetCreate()">Create</button> 
    <button type="button" (click)="triggerPetCreateV2()">Create V2</button> 
    <button type="button" (click)="cancelPetCreate()">Cancel</button> 

</form>

