<h4>These pets are looking for a home!</h4>
<div *ngIf="!selectedPet && !newPet && !editedPet" >
    <button (click)="createPet()">Add a pet to the Shelter</button>
</div>

<ol>
    <li class="make-red" *ngFor="let e of errors">             
        {{ e }}
    </li>
</ol>

<app-pet *ngIf="selectedPet" 
    [petToShow]="selectedPet" 
    (aPetModifiedEmitter)="petModifiedReloadMsgFromChild($event)" 
    (aClosePetDisplayEmmitter)="petClosedMsgFromChild($event)" >
</app-pet> 

<app-pnew *ngIf="newPet" 
    [petToCreate]="newPet" 
    (aPetCreateEmitter)="petCreatedMsgFromChild($event)" 
    (aPetCancelCreateEmitter)="petCreateClosedMsgFromChild($event)" >
</app-pnew> 

<app-pedit *ngIf="editedPet" 
    [petToEdit]="editedPet" 
    (aPetUpdateEmitter)="petUpdatedMsgFromChild($event)" 
    (aPetCancelUpdateEmitter)="petUpdateClosedMsgFromChild($event)" >
</app-pedit> 

<div *ngIf="!selectedPet && !newPet && !editedPet" >
    <div *ngIf="pets" >
        <table id="pets">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let p of pets">
                <td>{{p.name}}</td>
                <td>{{p.type}}</td>
                <td>
                    <button (click)="petToShow(p)">Details</button>

                    <!-- <button [routerLink]="['/pets/'p._id'/edit]">Edit w/R</button> -->

                    <button (click)="petToEdit(p)">Edit</button>
                </td>
            </tr>
        </table>
    </div>
</div>