<h3>Restaurant Details</h3>

<div class="doborder" *ngIf="rest">
    <button class="btn-success" [routerLink] = "['/restaurants']"> Home </button>
    <button class="btn-primary" [routerLink] = "['/restaurants/review', rest._id]"> New Review </button>

    Reviews for {{rest.name}} : {{rest.cuisine}} [ {{rest.reviews.length}} ]
    <br>

    <div id="revs" *ngIf="reviews">
        <table class="table table-hover table-light table-bordered">
            <tr class="thead-dark">
                <th>Customer</th>
                <th>Stars</th>
                <th>Description</th>
            </tr>
            <tr *ngFor="let r of reviews">
                <td>{{r.name}}</td>
                <td>{{r.rating}}</td>
                <td>{{r.review}}</td>
            </tr>
        </table>
    </div>
    

</div>
    
    
    