#wrapper {
    padding: 20px;
}

.alert {
    width: auto;
    padding: 5px;
    border: darkgrey 1px solid;
    border-radius: 5px;
    display: inline-block;  
    margin: 5px;
}
.alert-success {
    background-color: lightgreen;    
    color: rgb(0, 60, 0);
}
.alert-danger {
    background-color: rgb(248, 172, 172);    
    color: rgb(155, 0, 0);
}
.alert-warning {
    color:black;    
    background-color: yellow;
}
