<h3>Restaurant Details</h3>
<button class="btn-outline-success" [routerLink] = "['/restaurants']"> Home </button>

<div *ngIf="rest">

    Name: {{rest.name}} <br>
    Cuisine: {{rest.cuisine}} <br>
    Description: {{rest.description}} <br>

    <div *ngIf="rest.foods">

    <div class="ib" id="foods" style="width: 50%; height: 50%; float:left;">
        Foods: {{rest.foods.length}}
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Rate</th>
                <th>Price</th>
                <th>Review</th>
            </tr>
            <tr *ngFor="let f of rest.foods">
                <td>{{f.name}}</td>
                <td>{{f.rating}}</td>
                <td>{{f.price}}</td>
                <td>{{f.description}}</td>
            </tr>
        </table>
    </div>

    </div>


    <div *ngIf="rest.reviews">

    <div class="ib" id="reviews" style="width: 50%; height: 50%; float:right;">
        Reviews: {{rest.reviews.length}}
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Rate</th>
                <th>Review</th>
            </tr>
            <tr *ngFor="let f of rest.reviews">
                <td>{{f.name}}</td>
                <td>{{f.rating}}</td>
                <td>{{f.description}}</td>
            </tr>
        </table>
    </div>
    
    </div>

</div>
    
    
    