<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h5>Welcome to {{ title }}!</h5>
</div> -->

<div (mouseenter) ="mouseEnter('div a') "  (mouseleave) ="mouseLeave('div A')">
    <h2>Div A</h2></div> 
<div (mouseenter) ="mouseEnter('div b')"  (mouseleave) ="mouseLeave('div B')">
    <h2>Div B</h2></div>

<button (click)="onButtonClick()" >Click me!</button>
<button (click)="onButtonClickParam(5)">Click me!</button>
<button (click)="onButtonClickToServer(5, '5b47dcfb8d6f68a2d7539dc8')">Click ME 5b47dcfb8d6f68a2d7539dc8!</button>
<button (click)="onButtonClickEvent($event)">Click me!</button>
<br>

<form (submit)="onSubmit()">
    <!-- use the json pipe to see how newTask changes in real time -->
    <p> {{ newTask | json }} </p>
    <input type="text" name="newTask.title" [(ngModel)]="newTask.title" />
    <input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
    <input type="submit" value="Create Task" />
</form>

Tasks:
<p *ngFor="let task of tasks">{{task.description}} <<=== {{task.title}}</p>
<p *ngIf="has_requested">Requested:</p>
<p *ngIf="has_requested">{{requested.title}} := {{requested.description}}</p>
Value of 1 num is: {{num}}<br>
Value of randNum is: {{randNum}}<br>
{{str}}<br>
<input type="text" [value]="first_name" />
<p *ngIf="loggedIn">You are logged in! --or-- MOUSING OVER A DIV...</p>
<p *ngFor="let snack of snacks">{{snack}}</p>
<p *ngIf="snacks.length < 3">You need more snacks.</p>
