/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
/* 
h1 {
    margin: 0px;
    padding: 0px;
}

button{
    margin-left: 20px;
} */

.make-red {
    color: rgb(248, 59, 131);
}

#wrap {
    margin: 10px;
    padding: 10px;
    border: 1px solid darkblue;
    border-radius: 5px;
}

button {
    margin-right: 5px;
}

.ib {
    display: inline-block;
}

/*   
a, button {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    height: 25px;
    width: auto;
    background-color: lightgrey;
    border: 1px solid darkblue;
    border-radius: 5px;
    text-decoration: none;  
    color: black;
}



.col1 {
    display: inline-block;
    width: 80px;
}
.col2 {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 10px;
}

.move-right {
    margin-left:130px;
}
 */





#players {
    border-collapse: collapse;
    margin-top: 10px;
}

#players td, #players th, #players form {
    border: 1px solid #ddd;
    padding: 8px;
}

#players tr:nth-child(even){background-color: #f2f2f2;}

#players tr:hover {background-color: #ddd;}

#players th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(66, 66, 71);
    color: white;
}
 

