<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dojo Bears - New Bear [3]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="jsobjs.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/styles/main.css">

    <script>
        // assuming you have jQuery
        $(document).ready(function(){

            // var favoritePokemon;
            // // the given link is for Bulbasaur's information
            // $.get("https://pokeapi.co/api/v2/pokemon/1/", function(data){     
            //     favoritePokemon = data.name;
            //     console.log("Got my favorite Pokemon: ", favoritePokemon);      // Predict the output!
            // });

            // $( "#target" ).click(function() {
            //     console.log( "Handler for .click() called." );
            //     document.getElementById("other").innerText = myname['name'];
            // });

        }); 
    </script>
    
</head>
<body>

    <div id="wrapper">

        <div class="fluid-container mb-3" role="group" aria-label="Header Buttons">
            <a class="btn btn-outline-success" href="/">List All Bears [1]</a>
            <a class="btn btn-outline-primary" href="/bears/new">Create a New Bear [3]</a>
        </div>
        
        <div class="border fluid-container p-2">
            <h1>Make a New Bear</h1>
            <form action="/bears/insert" method="post">

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="text" class="form-control" id="age" name="age">
                </div>
                <div class="form-group">
                    <label for="quote">Markings:</label>
                    <textarea class="form-control" rows="2" id="markings" name="markings"></textarea>
                </div>
                <!-- <div class="form-group">
                    <label class="radio-inline"><input type="radio" name="sex_female" value="female" id="sex_female">Female</label>
                    <label class="radio-inline"><input type="radio" name="sex_male" value="male" id="sex_male">Male</label>
                    <label class="radio-inline"><input type="radio" name="sex_other" value="private" id="sex_private">Private</label>
                    <label class="radio-inline"><input type="radio" name="sex_none" value="none" id="sex_none">None</label>
                </div> -->

                <div class="form-group">
                    <div class="form-radio form-radio-inline">
                        <input class="form-radio-input" type="radio" name="sex" id="sex_female" value="female">
                        <label class="form-radio-label" for="sex_female">Female</label>
                    </div>
                    <div class="form-radio form-radio-inline">
                        <input class="form-radio-input" type="radio" name="sex" id="sex_male" value="male">
                        <label class="form-radio-label" for="sex_male">Male</label>
                    </div>
                    <div class="form-radio form-radio-inline">
                        <input class="form-radio-input" type="radio" name="sex" id="sex_none" value="none">
                        <label class="form-radio-label" for="sex_none">Unknown</label>
                    </div>
                    </div>
                <div class="btn-group" role="group" aria-label="Bear Buttons">
                    <button type="submit" class="btn btn-outline-primary" name="add">Add My Bear [4]</button>
                </div>

            </form>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <!-- NOPE this needs to be in the header to use jquery in the header -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    
</body>
</html>